# Dependencies
node_modules/

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Environment variables
.env
.env.local

# Build outputs
dist/
build/

# Logs
*.log
npm-debug.log*

# Temporary files
*.tmp
*.temp
.cache/
.vercel
